---
import { Picture } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Images {
    id: string;
    imagePath: string;
    description: string;
}

interface Content {
    title: string;
    annotation: string;
    pubDate: string;
    pubTime: string;
}

const { id, imagePath, description } = Astro.props as Images;
const { title, annotation, pubDate, pubTime } = Astro.props as Content;
const linkPage = `/post${id}`;

const images = import.meta.glob<{ default: ImageMetadata }>("../../Posts/*.{webp,jpeg,jpg,png,gif}",);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "../../Posts/*.{webp,jpeg,jpg,png,gif}". See ImageComponent.astro to debug.`,
  );

---

<li class="news-item">
    <header class="item-header">
        <Picture
        class="item-header__img"
        src={images[imagePath]()}
        formats={["avif", "webp"]} 
        widths={[320, 570]}
        sizes={`(max-width: 390px) 320px,
                (min-width: 576px) 570px`}
        fallbackFormat="jpeg"
        width={570}
        height={445}        
        alt={description} />
    </header>
    <article class="item-content">
        <section class="item-content__right font-size-h3 font-Yanone">
            <h3 class="font-size-h3 font-Yanone news-title">
                <a class="line-clamp news-title__link" href={linkPage}> {title} </a>
            </h3>
            <p class="item-content-text line-clamp"> {annotation} </p>
        </section>
        <section class="item-content__left">
            <h5 class="font-size-h5 color_white">News</h5>
            <time class="data-info_datetime" datetime=`${pubDate} ${pubTime}`>
                <span class="data-info_date">
                    September 23,
                </span>
                <span class="data-info_year">
                    2015
                </span>
                <p class="data-info_time">
                    at {pubTime}
                </p>
            </time>
        </section>
    </article>
</li>
<style>
    .news-item {
        --col: 2;
        display: block;
        max-width: 570px;
        width: calc((100% / var(--col)) - var(--gap));
        min-width: 421px;
    }

    .item-header {
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: .375rem;
        aspect-ratio: 570 / 445;
    }

    .item-header__img {
        max-width: 100%;
        object-fit: cover;
    }
    

    .item-content {
        width: 100%;
        --step-content: 1em;
        display: flex;
        font-family: var(--font-OpenSans);
        font-size: clamp(0.875rem, 0.44636rem + 0.893vw, 1rem);
        font-weight: 400;
        letter-spacing: .0088rem;
        line-height: 175%;
        color: var(--color-DarkGray);

    }

    .item-content__right {
        --content-right: 9%;
    }

    .item-content-text {
        --line: 5;
        font-family: var(--font-OpenSans);
        font-size: clamp(0.875rem, 0.44636rem + 0.893vw, 1rem);
        font-weight: 400;
        font-style: normal;
        text-wrap: balance;
        color: var(--color-DarkGray);
        margin-top: var(--step-content);
        padding-right: var(--content-right);
    }

    .item-content__left {
        width: max-content;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: var(--step-content);
    }

    .news-title {
        height: 2em;
        padding-top: var(--gap);
        box-sizing: content-box;
        margin-top: calc(-1 * (2em + var(--gap)));
        padding-right: var(--content-right);
        align-content: center;
        background: var(--color-black1);
        border-top-right-radius: .375rem;
    }

    .news-title__link {
        transition: 0.5s all ease-in-out;
        color: var(--color-orange);
    }

    .news-title__link:is(:hover, :focus) {
        color: var(--color-white);
    }

    .data-info_datetime {
        font-style: italic;
    }

    .data-info_date,
    .data-info_time {
        text-wrap: nowrap;
    }

    @media screen and (max-width: 991.98px) {
        .news-item {
            max-width: 570px;
            width: 100%;
            min-width: 250px;
        }
    }

    @media screen and (max-width: 575.98px) {
        .news-title {
            margin-top: 0;
            border-top-right-radius: 0;
        }

        .item-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .item-content__right {
            --content-right: 0;
            text-align: center;
        }

        .item-content-text {
            --line: 3;
        }

        .data-info_datetime {
            display: flex;
            gap: .5rem;
        }
    }
</style>